.box{
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 2%;
    width: 45%;
    width: 40%;
    /* border: greenyellow solid 2px; */
    background-image: linear-gradient(180deg, rgba(29,39,49,1) 80%, rgba(50,140,193,1) 120%);
}
