.hdr-01{
    margin: 0px;
    padding: 0px;
    width: 100%;
    justify-content: space-between;
    display: flex;
    /* border: 2px solid red; */
    max-height: 35%;
}

button{
    max-width: 80px;
    max-height: 80px;
    /* background-color: #0b3c5d; */
    border-radius: 5px;
    margin: 5px;
}

.home{
    display: flex;
    position: relative;
    top: 0%;
    bottom: auto;
    left: 0%;
    right: auto;
    margin: 0% auto auto 0%;
    flex-direction: row;
    /* border: 2px solid blue; */
    background-color: #0b3c5d;
    max-height: 35%;
    max-width: 60px;
}

.menu{
    display: flex;
    position: relative;
    top: 0%;
    bottom: auto;
    left: auto;
    right: 0%;
    margin: 0% 0% auto auto;
    flex-direction: column;
    /* border: 2px solid blue; */
    background-color: #0b3c5d;
    max-height: 35%;
    max-width: 60px;
}

#btn-home,#btn-aboutme,#btn-proyects,#btn-cv,#btn-contactme{
    width: 60px;
    height: 60px;
}