.footer01{
    display: flex;
    max-height: 70px;
    width: 100%;
    position: absolute;
    bottom: 0px;
    top: auto;
    right: auto;
    left: auto;
    justify-content: center;
    /* border: 2px solid red; */
    padding: auto auto 2px auto;
    flex-direction: row;
}
